html, body {
    height: 100%; 
    margin: 0; 
    padding: 2px; 
    overflow: hidden; 
    background-color: #222831; 
    color: white;
    
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 400px;
    min-height:400px;
    max-height: 500px;
    /* background-color: #423966; */
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 25px rgb(25, 25, 25),
             -15px -15px 25px rgb(60, 60, 60);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

#heading{
    text-align: center;
    height: 100px;
    font-size:40px;
    font-weight: bold;
    font-family: 'Source Code Pro';
    display:flex;
    justify-content: center;
    align-items: center;
}

#desp{
    text-align: center;
    color: #CDC1FF;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cedarville Cursive';
}

/* styling button */

button {
    width: 10em;
    position: relative;
    height: 3.5em;
    border: 3px ridge #149CEA;
    outline: none;
    background-color: transparent;
    color: white;
    transition: 1s;
    border-radius: 0.3em;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  button::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
    transform-origin: center;
  }
  
  button::before {
    content: "";
    transform-origin: center;
    position: absolute;
    top: 80%;
    left: 3%;
    width: 95%;
    height: 40%;
    background-color: #212121;
    transition: 0.5s;
  }
  
  button:hover::before, button:hover::after {
    transform: scale(0)
  }
  
  button:hover {
    box-shadow: inset 0px 0px 25px #1479EA;
  }


#acct{
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
}