html, body {
    height: 100%; 
    margin: 0; 
    padding: 2px; 
    overflow: hidden; 
    background-color: #222831; 
    color: white;
    
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
}

#container{
    width: 400px;
    min-height:400px;
    max-height: 500px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 25px rgb(25, 25, 25),
             -15px -15px 25px rgb(60, 60, 60);
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#heading{
    text-align: center;
    height: 70px;
    font-size:40px;
    font-weight: bold;
    /* padding-top: 8px; */
    font-family: 'Source Code Pro';
    display: flex;
    justify-content: center;
    align-items:center ;
}


.form {
    --width-of-input: 200px;
    --border-height: 1px;
    --border-before-color: rgba(221, 221, 221, 0.39);
    --border-after-color: #5891ff;
    --input-hovered-color: #4985e01f;
    position: relative;
    width: var(--width-of-input);
    margin-bottom:9px ;
}
   /* styling of Input */
.input {
    color: #fff;
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    box-sizing: border-box;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
    border-bottom: var(--border-height) solid var(--border-before-color);
}
   /* styling of animated border */
.input-border {
    position: absolute;
    background: var(--border-after-color);
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}
   /* Hover on Input */
input:hover {
    background: var(--input-hovered-color);
}
   
input:focus {
    outline: none;
}

input:focus ~ .input-border {
    width: 100%;
}

#main{
    /* background-color: #fff; */
    height:250px;
    display: flex;
    flex-direction: column;
    align-items:center ;
    justify-content: center;
    gap: 4px;
}
  
.button-sec{
    height: 80px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#button{
    
    height: 50px;
    width: 100px;
    border-radius: 27px;
    border:none;
    background-color: #8CABFF;
    color:#222831;
    font-weight: bold;
    font-size: 14px;
    transition:transform 0.5s ease-out;
    border: 3px solid white;
}

#button:active{
    background-color: #7092ef;
    transform:translateY(4px);   
}